

<!-- <div class="log-in" data-action='login-user' data-id='`${user.id}`'> -->




<h6>LogIn</h6>

<%= flash[:message] %>



  <%= form_tag login_path do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
  <%= label_tag :password %>
  <%= text_field_tag :password %><br><br>
  <%= submit_tag 'Log in' %>
  <% end %>

  <!-- </div> -->
